html, body {height: 100%; margin: 0; padding: 0;}

@font-face
{
  font-family: 'chilanka';
  font-style: normal;
  font-weight: 400;
  src: local('Chilanka Regular'), local('Chilanka-Regular'), url('fonts/Chilanka-Regilar.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (min-width: 850px) {

  .had {
    grid-area: header;
    overflow: hidden;
    background-color: #444;
  }

  .had a {
    float: left;
    min-height: 100%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .had a.active {
    background-color: #4CAF50;
    color: white;
  }


  .men {
    grid-area: menu;
    overflow: hidden;
    /* text-align: center; */
    background-color: #444;
    background-image: url("assets/new_brick.jpg");
    width: 100%;
    min-width: 200px;
    color: white;
  }

  .men .card {
    max-width: 90%;
    max-height: 90%;
    border-width: 1px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: [header_start] 1fr  [avatar_start] 2fr [text_start] 2fr;
    border-width: 2px;
    border-color: white;
  }

  .card .header {
    grid-row: header_start / span 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-right: 2px white solid;
    max-height: 100%;
    max-width: 100%;
    padding-top:  3px;
    padding-bottom: 1px;
    background-color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .card .avatar {
    grid-row: avatar_start / span 1;
    text-align: center;
    background-color: #333;
    background-image: linear-gradient(black, #333);
    border-left: 2px white solid;
    border-right: 2px white solid;
    max-width: 100%;
    max-height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .avatr_img {
    border-radius: 50%;
    max-width: 60%;
    border: 2px #cccccc solid;
    background-color: #cccccc;
    text-align: center;
  }

  .card .text {
    grid-row: text_start / span 1;
    font-size: 18px;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px white solid;
    border-left: 2px white solid;
    border-right: 2px white solid;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    padding: 5%;
    background-color: #333;
    color: white;
  }

  .text h2{
    color: White;
    text-align: center;
  }

  .mn {
    grid-area: main;
    overflow: scroll;
    max-height: 100%;
    background-color: #DDD;
  }

  .rht {
    grid-area: right;
    overflow: hidden;
    text-align: center;
    padding-top: 10%;
    align: center;
    background-color: #444;
    background-image: url("assets/new_brick.jpg");
    color: white;
    width: 100%;
    min-width: 50px;
  }

  .rht .box {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    'title'
    'topics';
    max-width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 25%;
    border: #DDD solid 1px;
  }

  .box .title {
    grid-area: title;
    background-color: #111;
    font-size: 20px;
    padding-top: 3px;
    font-weight: bold;
    color: white;
    max-width: 100%;
  }

  .box .topics{
    grid-area: topics;
    background-color: #EEE;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    color: black;
  }

  .footer {
    grid-area: down;
    color: white;
    background-color: black;
    font-size: 12px;
    overflow: hidden;
  }

  .mn .article {
      border: 1px solid gray;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 10px;
      grid-column-gap: 0;
      min-height: 20%;
      margin-bottom: 10px;
      display: grid;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas:
      'preview title'
      'preview author';
  }

  .article .preview {
    grid-area: preview;
    background-color: blue;
    width: 200px;
    height: 200px;
  }

  .preview img{
    width: 200px;
    height: 200px;
  }

  .article .title {
    grid-area: title;
    background-color: black;
    color: white;
    /* min-width: 90%; */
    text-align: left;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    font-weight: bold;
    /* min-height: 90%; */
    /* background-color: green; */
  }

  .title a {
    /* float: left; */
    color: white;
    text-align: left;
    padding: 20px 20px 20px 20px;
    /* font-size: 34px; */
    font-weight: bold;
    text-decoration: none;
  }

  .article .author {
    text-align: left;
    grid-area: author;
    min-width: 90%;
    /* background-color: yellow; */
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    background-color: #EEE;
    /* color: gray; */
  }

  .grid-container {
    font-family: chilanka;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-areas:
      'menu header header header header right'
      'menu main main main main right'
      'down down down down down down';
    /* grid-gap: 2px; */
    background-color: black;
    padding: 1px;
  }
}

@media (max-width: 849px) and (min-width: 100px){


  .had {
    grid-area: header;
    overflow: hidden;
    background-color: #444;
  }

  .avatr_img {
    display: none;
  }

  .men {
    display: none;
  }

  .footer {
    display: none;
  }


  .had a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .had a.active {
    background-color: #4CAF50;
    color: white;
  }

  .mn {
    grid-area: main;
    background-color: #DDD;
  }

  .rht {
    display: none;
  }


  .grid-container {
    display: grid;
    grid-template-rows: 5% auto;
    grid-template-areas:
      'header'
      'main';
    grid-gap: 5px;
    background-color: black;
    padding: 5px;
  }
}
